@import '/src/shared/styles/extends';
@import '/src/shared/styles/mixins.scss';

.login {
  width: 100%;
  min-height: calc(100vh - var(--header) - var(--footer));
  @include flex-center;

  &__container {
    @extend %form_container;
  }

  &__buttons {
    @include flex-center;
    flex-direction: column;
    gap: 1rem;

    .git_btn {
      background-color: var(--black);

      &:hover {
        background-color: rgba(0, 0, 0, 0.88);
      }
    }

    .google_btn {
      background-color: var(--bg-primary);
      color: var(--bg-primary-dark);
    }
  }
}

.separator {
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;

  span {
    font-size: 0.75rem;
    line-height: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgb(222 226 231/1);
  }
}
