.login-container {
  max-width: 28rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  h1 {
    position: relative;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
}

// .login-form {
//   width: 100%;
// }

.login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .git-button {
    background-color: var(--black);
  }

  .google-button {
    background-color: var(--bg-primary);
    color: var(--bg-primary-dark);
  }
}

.separator {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;

  hr {
    border-top: 0;
    border-left: 0;
    border-top-width: 1px;
    color: inherit;
    height: 0;
    border-color: rgb(222 226 231/1);
    flex: 1 1 0%;
    margin: 0;
  }

  span {
    font-size: 0.75rem;
    line-height: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgb(222 226 231/1);
  }
}

.signup-link {
  text-align: right;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;

  @media (max-width: 400px) {
    position: relative;
    margin-top: 0;
  }
}
