.tabs {
  background-color: transparent;
  width: calc(100vw - var(--sidebar-width));
  height: var(--tabs-height);

  @media (max-width: 767px) {
    width: 100%;
  }

  &_docs {
    width: calc(100vw - var(--sidebar-width) - var(--docs-width));
  }
}
