.response {
  position: relative;
  width: 100%;
  flex-shrink: 9999;
  height: calc(var(--ide-height) - 1rem);
  border-radius: 12px;
  padding: 1rem 3.5rem 1rem 1rem;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  &__editor {
    height: calc(var(--ide-height) - 1rem);
    overflow: auto;
  }

  &__stats {
    padding: 1rem 1rem 0 1rem;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 45vh;
    flex-shrink: none;
  }
}
