.doc_schema__types {
  display: flex;
  flex-direction: column;

  .schema_types__item {
    margin-left: 0.6rem;
    font-size: 0.9rem;
    padding: 0.1rem;
    border: none;
    height: 1.3rem;
    width: auto;
    text-align: left;
  }
}
