.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem 0;
  font-size: 16px;

  &_small {
    font-size: 1em;
    color: var(--bg-primary-dark);
  }

  &_medium {
    font-size: 1.4em;
    color: var(--bg-primary-dark);
  }

  &_large {
    font-size: 1.8em;
    color: var(--bg-primary-dark);

    @media all and (max-width: 767px) {
      font-size: 1.4em;
    }
  }
}
