@import './styles/index.scss';
@import '/src/shared/styles/mixins.scss';

* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

// TODO: REMOVE STYLES DOWN THERE (added just for demo purposes)
.test-block {
  width: 500px;
  height: 500px;
  background-color: var(--bg-secondary);
  @include flex-center;
}

.test-block-second {
  width: 400px;
  height: 400px;
  background-color: var(--bg-primary);
  box-shadow: var(--popover-box-shadow);
}

.test-text-secondary {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-secondary);
  margin: 0.5rem 0;
  display: inline-block;

  &:hover {
    cursor: pointer;
    color: var(--text-primary);
  }
}
