@import './styles/index.scss';
@import '/src/shared/styles/mixins.scss';

* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-primary);
}

button.ant-btn-primary {
  box-shadow: 0 1px 0px rgba(8, 2, 25, 0.43);
}

.ant-tabs-content-holder {
  display: none;
}

.ant-tabs-nav {
  min-height: calc(var(--tabs-height) - 8px);
}

// TODO: REMOVE STYLES DOWN THERE (added just for demo purposes)
.test-block {
  width: 500px;
  height: 500px;
  background-color: var(--bg-secondary);
  @include flex-center;
  margin: 1rem 0;
}

.test-block-second {
  width: 400px;
  height: 400px;
  background-color: var(--bg-primary);
  box-shadow: var(--popover-box-shadow);
}
