.query {
  width: 100%;
  height: var(--ide-height);
  background-color: var(--bg-primary);
  box-shadow: var(--popover-box-shadow);
  border-radius: 12px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &__editor {
    display: flex;
    width: 100%;
    flex-shrink: 9999;
    overflow: auto;
    padding: 1rem 1rem 0 1rem;
  }

  &__vars {
    border-top: var(--border-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
    flex: 1;
  }
}
