@import '../Mixin';

.stackList {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    background: var(--apollo-gradient-purple);
    width: 150vw;
    height: 400px;
    position: absolute;
    top: 0;
    left: -50vw;
  }

  &__item {
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    @include adaptive-font(40, 24);
    z-index: 1;
  }
}
