@import '/src/shared/styles/mixins.scss';

.hamburger,
.navbar_hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar__list_hamburger {
    position: fixed;
    right: -100%;
    top: var(--header);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(250 250 250 / 0.5);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    z-index: 2;
    transition: all 0.3s ease;
  }

  .navbar__list_hamburger.active {
    right: 0;
  }

  .navbar_hamburger {
    @include flex-center;
    z-index: 2;
  }

  .hamburger {
    @include flex-center;
    position: fixed;
    top: 25px;
    right: 20px;
    width: 23px;
    height: 30px;
    cursor: pointer;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 0.5rem;
    z-index: 101;
  }

  .hamburger__line {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--bg-primary-dark);
    border-radius: 5px;
  }

  #bar1 {
    transform: translateY(-4px);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  #bar2 {
    pointer-events: none;
    transition: all 0.3s ease;
  }

  #bar3 {
    transform: translateY(4px);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .active #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  .active #bar2 {
    opacity: 0;
  }

  .active #bar3 {
    transform: translateY(-2px) rotateZ(45deg);
  }

  .outside {
    position: absolute;
    top: var(--header);
    left: 0;
    height: calc(100vh - var(--header));
    width: 100vw;
    z-index: 1;
    background-color: transparent;
  }
}
